<p>Hola {{name}},</p>
<p>Gracias por registrarte. Por favor verifica tu correo electrónico dando clic en el siguiente enlace:</p>
<p><a href="{{url}}">Verificar correo</a></p>
<p>Si no creaste esta cuenta, ignora este mensaje.</p>
<p>Este enlace expira en 1 hora.</p>
